

body{
    background-color: antiquewhite;
}


.button {
    /*Determines visual characteristics of the button*/
    margin: 5px;
    padding: 10px;
    border-radius: 7px;
    background: linear-gradient(to bottom right, rgba(0, 250, 154, 1), rgba(32, 178, 170, 0.5));

    /*Determines characteristics of text on the button*/
    text-decoration: none;
}

.focalPoint {
    /*Determines placement of content within the focalPoint */
    margin: 15px;
    padding: 10px;
    align-content: center;

    /*Determines visual characteristics of the focalPoint*/
    /*background-color: mintcream;*/
    background-color: brown;
    border-radius: 7px;

    /*Determines text characteristics of the focalPoint*/
    text-align: center;
    font-size: 20px;

}

.magnifier {
    /*Determines placement of content within the magnifier */
    margin: 15px;
    padding: 10px;
    align-content: left;

    /*Determines visual characteristics of the magnifier*/
    background-color: mintcream;
    /*background-color: blue;*/
    border-radius: 7px;

    /*Determines text characteristics of the magnifier*/
    text-align: left;
    font-size: 14px;
    color: darkgray;

}

.case {

}

/*Below this line are conceptualized classes not currently in development
Their descriptions are commented into their bodies.*/
/*=============================================================*/

/*.hardcase{*/
/*A more rigid, enclosing version of .case: allows no overflow, no floating, no wrap. Child objects can only be displayed in block.*/
/*}*/

/*.softcase{*/
/*The softer, more lenient version of .case: allows overflow, and has much less rigid rules about child objects.*/
/*}*/